<section class="content_column">

  <h1><%= title t('.login') %></h1>

  <%= form_for :session, url: login_path, html: {class: "simple_form"} do |f| %>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :password %> <%= link_to t('.forgot_password'), new_password_reset_path  %>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t '.remember_me' %></span>
      <% end %>
    </p>

    <%= f.submit t('.login_action'), class: "btn btn-primary" %>
  <% end %>

  <div>
    <%= link_to(t('.login_with_twitter'), '/auth/twitter', class: 'button fa fa-twitter') %>
    <%= link_to(t('.login_with_facebook'), '/auth/facebook', class: 'button fa fa-facebook') %>
  </div>

</section>
