<header>
  
  <h1>
    <%= gravatar_for(@user, size: 72) %> 
    <%= @user.name %>
  </h1>
  <div class="links">
    <div class="twitter">
      <%= link_to "@" + @user.twitter_login, 'http://twitter.com/' + @user.twitter_login if @user.twitter_login.present? %>
    </div>
  </div>

  <div class="counters">
  
    <div class="has_donated">
      <span><%= t 'users.header.has_donated_to' %></span>
      <div class="value">
        <%= @user.projects.distinct.count %>
        <%= t 'Projects' %>
      </div>
    </div>

    <div class="thinking_on_donating">
      <span><%= t 'users.header.thinking_on_donating_to' %></span>
      <div class="value">
        <%= @user.all_following.count %>
        <%= t 'Projects' %>
      </div>
    </div>

  </div>

</header>
