<header>
  <h1>
    <%= gravatar_for(@user, size: 72) %> <%= @user.name %>
  </h1>

  <div id="donations_last_month">
    <%= money @user.total_donations_last_month(current_user) %> <%= t('.donated') %>
    <small><%= t('.in_the_last_month') %></small>
  </div>

  <div id="donations_overall">
    <%= money @user.total_donations(current_user) %> <%= t('.in_total') %>

    <% if @user.has_private_donations? %>
      <% if current_user?(@user) %>
        <i class="fa fa-lock tipsit" title="<%= t('donations.donation.private_donation_not_visible_explanation_in_profile_for_self') %>"></i>
      <% else %>
        <i class="fa fa-lock tipsit" title="<%= t('donations.donation.private_donation_not_visible_explanation_in_profile') %>"></i>
      <% end %>
    <% end %>
  </div>

  <div id="donations_chart"></div>

  <script type="text/javascript">
    $("#donations_chart").sparkline(<%= @user.chart_data(current_user) %>, { type: 'bar', barColor: '#565631', width: 100, barWidth: 9 });
  </script>

</header>
