<% if temp_donations_exist? %>
  <h2>Woooa! Congratulations</h2>
  <p>You have tracked your first donation. Wasn't that easy? But... you wouldn't want to loose it, right? Add your email and a password and you'll have your account created. </p>
  <p><%= cookie_donation[:project_name] %></p>
<% else %>
	<h1>Sign up</h1>
<% end %>
  
  <%= form_for(@user,  html: {class: "simple_form"} ) do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@user.errors.count, "error") %>.
        </div>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
    </p>

    <p>
      <%= f.label :country, t('Country') %>
      <%= country_code_select(:user, :country) %>
    </p>

    <p>
      <%= f.submit "Create my account"  %>
    </p>

  <% end %>
