<section id="user" class="user_page wide_content">

	<%= render 'header' %>

  <div id="user_nav"></div>

  <div class="main_column">

    <h2><%= title t('.update_your_profile') %></h2>

    <%= render 'form' %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails"><%= t('.gravatar') %></a>
    </div>
  </div>

  <%= render 'sidebar' %>

</section>
