<% set_meta_tags :description => t("metas.users.user.description", :user => @user.name) %>
<% set_meta_tags :title => t("metas.users.user.title", :user => @user.name) %>

<% if current_user?(@user) && @user.donations.size == 0 %>
  
  <section class="big_banner">
    
    <p>
      <big><%= t '.welcome' %></big>
    </p>

    <p>
      <%= t '.get_started' %> <%= link_to t('.track_your_first_donation'), track_donation_path, :class => 'button' %>
    </p>

  </section>

<% end %>

<section id="user" class="user_page wide_content">

  <%= render 'header' %>

  <div id="user_nav">
    <% if current_user_profile? %>
      <div id="edit_your_profile"><%= link_to t('.edit_your_profile'), edit_user_path(current_user) %></div>
    <% end %>

<!--     <a href="">Donations (<%= @user.donations.size %>)</a>
    <a href="">Projects (<%= @user.projects.distinct.count %>)</a>
 -->    
  </div>

  <div class="main_column">

    <div id="user_donations">

      <h2><%= t 'Donations' %></h2>

      <div id="donations_chart"></div>

      <script type="text/javascript">
        $("#donations_chart").sparkline(<%= @user.chart_data(current_user) %>, { type: 'bar', barColor: '#565631', width: 100, barWidth: 9 });
      </script>

      <%= render @user.donations.sorted %>

    </div>

    <div id="user_projects" style="display: none">
      <% if @user.projects.any? %>
        <%= render @user.projects %>
      <% end %>
    </div>

  </div>

  <div class="sidebar">

    <h2><%= t '.following' %></h2>

    <% if @projects_following.any? %>
      <ul>
      <% @projects_following.each do |project| %>
        <li><%= link_to project.name, project %></li>
      <% end %>
      </ul>
    <% else %>
      <p><%= t('.not_following_projects_yet') %></p>
    <% end %>
  </div>

</section>
