<section id="user" class="user_page content_column">

  <%= render 'header' %>

  <div id="user_nav">
    <% if current_user_profile? %>
      <div id="edit_your_profile"><%= link_to t('.edit_your_profile'), edit_user_path(current_user) %></div>
    <% end %>

    <a href="">Donations (<%= @user.donations.length %>)</a>
    <a href="">Projects (<%= @user.projects.distinct.length %>)</a>
  </div>

  <div id="user_donations">
    <% if @user.donations.any? %>
      <%= render @user.donations %>
    <% end %>
  </div>

  <div id="user_projects" style="display: none">
    <% if @user.projects.any? %>
      <%= render @user.projects %>
    <% end %>
  </div>

</section>
