<% set_meta_tags :description => t("metas.users.user.description", :user => @user.name) %>
<% set_meta_tags :title => t("metas.users.user.title", :user => @user.name) %>

<section id="user" class="user_page content_column">

  <%= render 'header' %>

  <div id="user_nav">
    <% if current_user_profile? %>
      <div id="edit_your_profile"><%= link_to t('.edit_your_profile'), edit_user_path(current_user) %></div>
    <% end %>

    <a href="">Donations (<%= @user.donations.size %>)</a>
    <a href="">Projects (<%= @user.projects.distinct.count %>)</a>
  </div>

  <div id="user_donations">
    <%= render @user.donations %>
  </div>

  <div id="user_projects" style="display: none">
    <% if @user.projects.any? %>
      <%= render @user.projects %>
    <% end %>
  </div>

</section>
