<% if logged_in? %>
  <li><%= link_to t('.hello', name: current_user.name), current_user %></li>
  <li><%= link_to t('track_donation'), root_path+'#modal-track' %></li>
  <li><%= link_to t('users.invite'), invite_path %></li>
  <li><%= link_to t('.log_out'), logout_path, method: "delete" %></li>
<% else %>
  <li class="cd-signup sb-close"><%= link_to t('.track_your_first_donation'), '#0', :class => 'cd-signup' %></li>
  <li class="cd-signin sb-close"><%= link_to t('.login'), '#0', :class => 'cd-signin' %></li>
<% end %>
