		
		<section id="home" class="content_column">

			<h1 class="logo">TrackDons</h1>
			<h2><%= t 'tagline' %></h2>
      <ul>
				<li><%= t 'main_bullet_1' %></li>
				<li><%= t 'main_bullet_2' %></li>
				<li><%= t 'main_bullet_3' %></li>
			</ul>
      <%= link_to t('read_more_about_this_project'), {controller: 'pages', action: 'about'}, class: 'button' %>
		</section>

		<section id="track_donation" class="content_full">

			<div class="content_column">

        <% if logged_in? %>
  				<header>
            <h2>
              <% if has_donations? %>
                <%= t 'track_a_donation' %>
              <% else %>
                <%= t 'track_your_first_donation' %>
              <% end %>
            </h2>
  					<% unless logged_in? %>
  						<div id="login_if_you_already">
                <%= link_to t('login_if_you_already'), login_path %></div>
  					<% end %>
  				</header>

          <%= render 'donations/form' %>
        <% else %>
          <%= render 'sessions/invitation_to_waitlist' %>
        <% end %>

			</div>

		</section>
