<section class="content_column">

  <h1><%= t('users.invite') %></h1>

  <% if current_user.available_invitations < 1 %>
    <%= t('invitations.dont_have_enough_invitations') %>    
  <% else %>
    
    <%= error_messages_for @invitation %>

    <p><%= t('invitations.pending_invites', :count => current_user.available_invitations) %></p>

    <%= form_for :invitation, url: invite_path, html: {class: "simple_form"} do |f| %>

      <p>
        <%= f.label :invited_email, t('users.labels.your_friends_email') %>
        <%= f.text_field :invited_email %>
      </p>

      <%= f.submit "Invite", class: "btn btn-primary" %>

    <% end %>

  <% end %>

  <% if current_user.invitations(true).any? %>

    <section id="invitations_sent">

      <p>You have sent this invitations:</p>

      <table>
        <%= render current_user.invitations %>
      </table>

    </section>
    
  <% end %>

</section>
