	
	<div class="donation">
    <%= gravatar_for(donation.user, size: 45) %>

    <h2>
      <strong><%= donation_quantity_currency(donation) %></strong>
      <% unless params[:controller] == 'projects' && params[:action] == 'show' %> 
        to
        <strong><%= link_to donation.project.name, projects_url + '/' + donation.project.slug %></strong>
        <!-- <span class="tags">
          <a href="#">Main Tag</a>
        </span> -->
      <% end %>
      <% unless params[:controller] == 'users' && params[:action] == 'show' %> 
        by <%= link_to donation.user.name, donation.user %>
      <% end %>
      <% unless params[:controller] == 'donations' && params[:action] == 'show' %> 
        <%= link_to '#', donations_url + "/#{donation.id}" %>
      <% end %>
    </h2>
    

    <%= render :partial => 'donations/donation_do_widget', :locals => {:donation => donation} %>

    <div class="donation_comment">
      <%= donation.comment %>
    </div>

    <!-- <small style="color: #aaa">
      <%= donation.date %> (created_at: <%= donation.created_at %>)
      <%= donation.user.name %> 
      (<%= link_to donation.project.name, projects_url + '/' + donation.project.slug %>)
      <%= link_to '#', project_donation_path(donation.project, donation) %>
    </small> -->

  </div>
    
