<div class="donation" id="donation-<%= donation.id %>">
  <%= gravatar_for(donation.user, size: 45) %>

  <h2>
    <strong><%= donation_quantity_currency(donation) %></strong>

    <% unless in_projects_page? %>
      <%= t('.to') %>
      <strong><%= link_to donation.project.name, project_path(donation.project) %></strong>
    <% end %>

    <% unless in_users_page? %> 
      <%= t('.by') %>
      <%= link_to donation.user.name, donation.user %>
    <% end %>

    <% unless in_donations_page? %> 
      <%= link_to '#', donation_path(donation) %>
    <% end %>

    <span class="date"><%= l donation.date, format: :wadus %></span>

  </h2>

  <%= render partial: 'donations/donation_do_widget', locals: {donation: donation} %>

  <% if donation.comment.present? %>
    <div class="donation_comment">
      <%= markdown(donation.comment) %>
    </div>
  <% end %>

  <% if logged_in? && current_user?(donation.user) %>
    <div class="donation_tools">
      <%= link_to(t('.edit'), edit_donation_path(donation), title: t('.edit_title')) %> ·
      <%= link_to(t('.delete'), donation, method: :delete, title: t('.delete_title'), data: {confirm: t('sure')}) %>
    </div>
  <% end %>
</div>
