<%= form_for(donation_for_form) do |f| %>

  <div class="bb-donations" data-projects="<%= projects_path %>">
    <div class="js-donations mb1">

      <div class="bb-donation mb2">
        <div class="justify-columns donations-holder">

            <div class="form-group justify-item donation-project">
              <%= f.fields_for(:project) do |project_form| %>
                <div class="form-label uppercase">
                  <%= project_form.label(:name, I18n.t('donation.project')) %>
                </div>
                <div class="form-fields">
                  <% if @project %>
                    <%= project_form.text_field :name, :class => "hundred percent field-text", :disabled => true %>
                  <% else %>
                    <%= project_form.text_field :name, :class => "hundred percent js-select2" %>
                  <% end %>
                </div>
              <% end %>
            </div>

          <div class="form-group justify-item">
            <div class="form-label uppercase">
              <%= f.label(:quantity, t('donation.amount')) %>
            </div>
            <div class="form-fields">
              <div class="field-group">
                <%= f.text_field :quantity, placeholder: 'ie. 125', :class => "donation-amount field-text field-group-item" %>
                <div class="field-select field-group-item">
                  <%= f.select :currency, [['€', 'EUR'],['$', 'USD']] %>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group justify-item">
            <div class="form-label uppercase">
              <label for="recurring"><%= I18n.t('donation.recurring') %></label>
            </div>
            <div class="form-fields">
              <div class="field-select field-group-item">
                <select class="js-donation-reurring" name="donation[recurring]" value="<%= f.object.recurring %>" id="donation_recurring">
                  <option value="no" selected="selected">No</option>
                  <option value="daily"><%= t('.daily') %></option>
                  <option value="weekly"><%= t('.weekly') %></option>
                  <option value="2 weeks"><%= t('.weeks', n: 2) %></option>
                  <option value="3 weeks"><%= t('.weeks', n: 3) %></option>
                  <option value="monthly"><%= t('.monthly') %></option>
                  <option value="2 months"><%= t('.months', n: 2) %></option>
                  <option value="3 months"><%= t('.months', n: 3) %></option>
                  <option value="4 months"><%= t('.months', n: 4) %></option>
                  <option value="6 months"><%= t('.months', n: 6) %></option>
                  <option value="12 months"><%= t('.months', n: 12) %></option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group justify-item">
            <div class="form-label uppercase">
              <%= f.label(:date, t('donation.date'), :class => 'js-donation-date') %>
            </div>
            <div class="form-fields">
              <%= f.text_field :date, :placeholder => t('donation.pick_date'), :class => "donation-date field-text", :data => {:behaviour => "datepicker"} %>
            </div>
          </div>

          <div class="form-group justify-item">
            <div class="form-label uppercase">
              <%= f.label(:quantity_privacy, t('donation.private'), :title => t('donations.form.quantity_privacy_hint'), :class => 'tipsit') %>
            </div>
            <div class="form-fields solid">
              <%= f.check_box :quantity_privacy %>
              <%= f.label(:quantity_privacy, 'Yes') %>
            </div>
          </div>
        </div>

        <div class="js-details donation-details mt2 justify-item hundred percent">
          <%= f.fields_for(:project) do |project_form| %>
            <%= project_form.text_area :description, :placeholder => t('donation.description'), :class => "field-textarea hundred percent mb2" %>
            <%= project_form.text_field :url, :placeholder => t('donation.url'), :class => "field-text hundred percent" %>
          <% end %>
        </div>

      </div>

    </div>

    <% # Temporary disabled %>
    <% if false && !new_donation? %>
      <div id="add-donation" class="js-add-donation s11 mb3">
        <a href="#"><%= I18n.t('donation.add') %></a>
      </div>
    <% end %>

  </div>

  <% unless new_donation? %>
    <%= hidden_field_tag :back_url, project_path(@project) %>
  <% end %>

  <%= f.submit(donation_form_button_text, class: 'big mb4' ) %>

  <% if editing_donation? %>
    <%= link_to(t('.cancel'), @donation) %>
  <% end %>

<% end %>
