<%= form_for @donation do |f| %>

  <div class="main_form">

    <div class="track_don_project">
      <% if controller_name == 'projects' %>
        <div class="track_don_project_name">
          <%= @project.name %>
        </div>
      <% else %>
        <%= f.autocomplete_field :project_name, autocomplete_project_name_projects_path, :id_element => '#donation_project_id',  placeholder: 'Project', :"data-autocomplete-label" => "Sorry, nothing found." %>
      <% end %>

      <% if params[:controller] == 'projects' %> 
        <div class="hint"><%= link_to t('need_to_trackdon_for_another_project'), track_donation_link %></div>
      <% else %>
        <div class="hint"><%= f.label(:project_name, 'ie. Wikipedia, Redd Cross, UNR') %></div>
      <% end %>
    </div>

    <div class="track_don_quantity" style="display: none">
      <%= f.text_field :quantity, placeholder: '125' %>
      <div class="hint"><%= f.label(:quantity, t('how_much_question')) %></div>
    </div>
    <div class="track_don_date">
      <%= f.date_field :date %>
      <div class="hint"><%= f.label(:date, t('when_did_you_donate')) %></div>
    </div>

    <div class="track_don_quantity_B">
      <div class="track_don_quantity_B_option">
        <%= f.text_field :quantity, placeholder: '125' %>
        <%= f.select :currency, [['€', 'EUR'],['$', 'USD']] %>
        <div class="track_don_quantity_B_option_hint">
          <%= f.check_box :quantity_privacy %>
          <%= f.label(:quantity_privacy, t('donations.keep_the_quantity_private'), title: "Don't be shy sharing the quantity. Everyone donates what they can / feels is right. So even a penny would be good. On the other hand, it would be fun to study how individual behaviours influence others... for good or for bad!", class: 'tipsit') %>
        </div>
      </div>
      <div class="hint"><%= f.label(:quantity, t('how_much_question')) %></div>
    </div>

  </div>

  <div class="track_don_options">

    <div>
      <label><input type="checkbox" name="i_want_to_explain" id="i_want_to_explain"> <%= t('i_want_to_explain_why') %></label>
      <div id="i_want_to_explain_content">
        <%= f.text_area(:comment) %>
      </div>
    </div>

  </div>

  <% if params[:controller] == 'projects' %> 
    <%= f.hidden_field :project_id, :value => @project.id %>
  <% else %>
    <%= f.hidden_field :project_id %>
  <% end %>
  <%= f.submit('TrackDon', class: 'big' ) %>

<% end %>
