<%= form_for(donation_for_form) do |f| %>

  <div class="main_form">

    <% if new_donation? %>
      <div class="track_don_project">
        
        <% if @project %>
          <div class="track_don_project_name">
            <%= @project.name %>
          </div>
          <div class="hint">
            <%= link_to t('need_to_trackdon_for_another_project'), root_path(anchor: 'track_donation') %>
          </div>
          <%= f.hidden_field :project_id, value: @project.id %>
        <% else %>
          <%= f.fields_for(:project) do |project_form| %>
            <%= project_form.hidden_field :name %>
            <div class="hint"><%= project_form.label(:name, 'ie. Wikipedia, Redd Cross, UNR') %></div>
            <div id="project_attributes">
              <%= project_form.text_area :description %>
              <div class="hint"><%= project_form.label(:description, 'Project Description') %></div>
              <%= project_form.text_field :url %>
              <div class="hint"><%= project_form.label(:url, 'Project URL') %></div>
            </div>
          <% end %>
        <% end %>
        
      </div>
    <% else %>
      <div class="track_don_project">
        <h2><%= t('.edit_your_donation', name: @project.name) %></h2>
      </div>
    <% end %>

    <div class="track_don_date">
      <%= f.date_field :date %>

      <div class="hint"><%= f.label(:date, t('when_did_you_donate')) %></div>
    </div>

    <div class="track_don_quantity_B">
      <div class="track_don_quantity_B_option">
        <%= f.text_field :quantity, placeholder: '125' %>

        <div class="track_don_currency_selector">
          <%= f.select :currency, [['€', 'EUR'],['$', 'USD']] %>
        </div>

        <div class="track_don_quantity_B_option_hint">
          <%= f.check_box :quantity_privacy %>
          <%= f.label(:quantity_privacy, t('donations.show.keep_the_quantity_private'), title: t('.quantity_privacy_hint'), class: 'tipsit') %>
        </div>
      </div>
      <div class="hint"><%= f.label(:quantity, t('how_much_question')) %></div>
    </div>

  </div>

  <div class="track_don_options">

    <div>
      <label>
        <%= f.check_box :show_comment, id: 'i_want_to_explain' %>
        <%= t('i_want_to_explain_why') %>
      </label>

      <div id="i_want_to_explain_content">
        <%= f.text_area(:comment) %>
      </div>
    </div>

  </div>

  <% unless new_donation? %>
    <%= hidden_field_tag :back_url, project_path(@project) %>
  <% end %>

  <%= f.submit(donation_form_button_text, class: 'big' ) %>
  <% if editing_donation? %>
    <%= link_to(t('.cancel'), @donation) %>
  <% end %>

<% end %>
