<section class="content_column">
<% if params[:share_links].present? %>
  <div id="share_block" class="call_to_action">
    <p><%= t 'donations.show.donation_created' %></p>
    <ul id="share_buttons">
      <li>
        <%= link_to t('donations.show.share_in_twitter'), "https://twitter.com/home?status=#{u t('donations.show.share_tweet', :url => donation_url(@donation))}", { :class => 'popup' } %>
      </li>
      <li>
        <%= link_to t('donations.show.share_in_facebook'), "http://www.facebook.com/sharer/sharer.php?u=#{u donation_url(@donation)}", {:class => 'popup' } %>
      </li>
      <li>
        <%= link_to t('donations.show.share_by_email'), 
        "mailto:?subject=#{u t('donations.show.share_email_subject')}&body=#{u t('donations.show.share_email_body', :project => @donation.project.name, :url => donation_url(@donation))}", { :class => 'popup' } %>
      </li>
    </ul>
  </div>
<% end %>
  <div class="tracked_donation">
  <% if params[:share_links].present? %>
    <small><%= t('donations.show.your_tracked_donation') %></small>
  <% end %>
    <%= gravatar_for(@donation.user, options = { :size => 45 }) %>
    <h2>
      <strong>
        <%= t('donations.show.user_donated_quantity_to_project', 
            :name => link_to(@donation.user.name, @donation.user),
            :donation => donation_quantity_currency(@donation), 
            :project => link_to(@donation.project.name, project_path(@donation.project))).html_safe %>
      </strong>
    </h2> 
    <%= render :partial => 'donation_do_widget', :locals => {:donation => @donation} %> 
    <p><%= @donation.comment %></p>
    <p class="donation_date"><%= t('donations.show.donation_date', :date => @donation.date) %></p>
  </div>
<hr/>
<small><%= t('donations.show.next') %></small>
<ul id="next">
  <li class="call_to_action"><%= link_to t('donations.show.project_page', :project => @donation.project.name), project_path(@donation.project) %></li>
  <li class="call_to_action"><%= link_to t('donations.show.more_donations_by', :user => @donation.user.name) , user_path(@donation.user) %></li>
  <li class="call_to_action"><%= link_to t('donations.show.other_projects'), projects_path %></li>
</ul>
</section>