<% set_meta_tags :description => t("metas.donations.donation.description", :user => @donation.user.name, :project => @donation.project.name) %>
<% set_meta_tags :title => t("metas.donations.donation.title", :user => @donation.user.name, :project => @donation.project.name) %>

<section class="content_column">

  <% if params[:share_links].present? %>
    <div id="share_block">
      <p><%= t 'donations.show.donation_created' %></p>
      <ul id="share_buttons">
        <li>
          <%= link_to t('donations.show.share_in_twitter'), "https://twitter.com/home?status=#{u t('donations.show.share_tweet', :url => donation_url(@donation))}", { :class => 'popup' } %>
        </li>
        <li>
          <%= link_to t('donations.show.share_in_facebook'), "http://www.facebook.com/sharer/sharer.php?u=#{u donation_url(@donation)}", {:class => 'popup' } %>
        </li>
        <li>
          <%= link_to t('donations.show.share_by_email'), 
          "mailto:?subject=#{u t('donations.show.share_email_subject')}&body=#{u t('donations.show.share_email_body', :project => @donation.project.name, :url => donation_url(@donation))}", { :class => 'popup' } %>
        </li>
      </ul>
    </div>
  <% end %>

  <div class="tracked_donation">
    <% if params[:share_links].present? %>
      <small><%= t('donations.show.your_tracked_donation') %></small>
    <% end %>
    <%= render @donation %>
  </div>

  <hr/>

  <small><%= t('donations.show.next') %></small>

  <ul id="next">
    <li><%= link_to t('donations.show.project_page', :project => @donation.project.name), project_path(@donation.project) %></li>
    <li><%= link_to t('donations.show.more_donations_by', :user => @donation.user.name) , user_path(@donation.user) %></li>
    <li><%= link_to t('donations.show.other_projects'), projects_path %></li>
  </ul>

</section>