<% set_meta_tags :description => t("metas.donations.donation.description", :user => @donation.user.name, :project => @donation.project.name) %>
<% set_meta_tags :title => t("metas.donations.donation.title", :user => @donation.user.name, :project => @donation.project.name) %>
  
<% if !logged_in? && !current_user?(@donation.user) %>
  
  <section class="big_banner">
    
    <p><big><%= t('.user_is_using', :name => @donation.user.name) %></big></p>
    <p>
      <%= t '.in_which_projects' %>
      <%= link_to t('.create_your_own'), root_path, :class => "cd-signup button ml0 mt3" %>      
    </p>

  </section>

<% elsif current_user?(@donation.user) %>
  
  <section class="big_banner">
    
    <p><big><%= t('.great_donation_tracked') %></big></p>
    <p>
      <%= t '.be_an_active_promoter' %><br>
      <%= t('.its_the_best_way') %>      
    </p>

    <ul id="share_buttons">
      <li>
        <%= link_to t('donations.show.share_in_twitter'), "https://twitter.com/home?status=#{u t('donations.show.share_tweet', :url => donation_url(@donation), :project => @donation.project.name)}", { :class => 'button popup' } %>
      </li>
      <li>
        <%= link_to t('donations.show.share_in_facebook'), "http://www.facebook.com/sharer/sharer.php?u=#{u donation_url(@donation)}&t=#{u t('donations.show.share_tweet', :url => donation_url(@donation), :project => @donation.project.name)}", {:class => 'button popup' } %>
      </li>
      <li>
        <%= link_to t('donations.show.share_by_email'), 
        "mailto:?subject=#{u t('donations.show.share_email_subject')}&body=#{u t('donations.show.share_email_body', :project => @donation.project.name, :url => donation_url(@donation))}", { :class => 'button popup' } %>
      </li>
    </ul>

  </section>

<% end %>

<section class="content_column">

  <div class="tracked_donation">
    <% if current_user?(@donation.user) %>
      <div class="mb3">
        <small><%= t('donations.show.your_tracked_donation') %></small>
      </div>
    <% end %>
    <%= render @donation %>
  </div>

  <hr/>

  <small><%= t('donations.show.next') %></small>

  <ul id="next">
    <li><%= link_to t('donations.show.project_page', :project => @donation.project.name), project_path(@donation.project) %></li>
    <li><%= link_to t('donations.show.more_donations_by', :user => @donation.user.name) , user_path(@donation.user) %></li>
    <li><%= link_to t('donations.show.other_projects'), projects_path %></li>
  </ul>

</section>
