<section class="content_column">

  <h1><%= @page_title %></h1>

  <%= form_for @project, html: {class: "simple_form"} do |f| %>

    <%= error_messages_for @project %>

    <p>
      <%= f.label(:name, t('project')) %><br>
      <%= f.text_field :name, data: {projects_url: projects_path} %>
    </p>

    <p data-existing-project-error="<%= t('projects.new.existing_project_error') %>"></p>

    <p>
      <%= f.label(:description, t('description')) %><br>
      <%= f.text_area(:description ) %>
    </p>

    <p>
      <%= f.label(:url, t('url')) %><br>
      <%= f.text_field :url %>
    </p>

    <p>
      <%= f.label(:donation_url, t('donation_url')) %><br>
      <%= f.text_field :donation_url %>
    </p>

    <p>
      <%= f.label :twitter %><br>
      <%= f.text_field :twitter %>
    </p>

    <p>
      <%= f.label :category, t('category') %>
      <%= f.select :category_id, options_from_collection_for_select(@categories, "id", "name", @project.category_id), prompt: t('.select_category') %>
    </p>

    <p>
      <%= f.submit(t('create')) %>
    </p>
  <% end %>

</section>
