<% set_meta_tags :description => t('metas.projects.home.description') %>
<% set_meta_tags :keywords => t('metas.projects.home.keywords') %>

<section class="wide_content">

  <div class="main_column">

    <section class="header">

      <h1><%= title(projects_page_title) %> (<%= link_to '+', new_project_path %>)</h1>

      <div class="filters">
        <% ProjectsController::ORDER_TYPES.each do |order| %>
          <span><%= link_to_unless @order == order, t('.'+order), projects_with_filter_path(@category, @country, sort_by: order) %></span>
        <% end %>
      </div>

    </section>

    <% if @projects.any? %>
      <%= render @projects %>
    <% else %>
      <%= t('.create_a_new_project', category: @category.try(:name), href: new_project_path).html_safe %>
    <% end %>

  </div>

  <div class="sidebar">

    <div class="categories">
      <h2><%= t('.categories') %></h2>

      <ul>
        <% @categories.each do |category| %>
          <li><%= link_to_unless_current category.name, projects_with_filter_path(category, @country) %></li>
        <% end %>
      </ul>
    </div>

    <% if options_for_countries_select.length > 1 %>
    <div class="countries">
      <h2><%= t('.countries') %></h2>

      <%= select_tag(:country, options_for_select(options_for_countries_select, projects_with_filter_path(@category, @country))) %>
    </div>
    <% end %>
  </div>

</section>
