<% set_meta_tags :description => t('metas.projects.project.description', :name => @project.name) %>
<% set_meta_tags :keywords => "#{@project.name}, donation, promote, issues, reach, track donation" %>

<section id="project_1502" class="wide_content">

  <div class="header">

    <h1><%= title @project.name %></h1>

    <div class="links">

      <div class="url">
        <a href="<%= @project.url %>" target="blank"><%= prettify_url(@project.url) %></a>
      </div>

      <% if @project.twitter.present? %>
        <div class="twitter">
          <a href="http://www.twitter.com/<%= @project.twitter %>" target="blank">@<%= @project.twitter %></a>
        </div>
      <% end %>

    </div>

    <div class="action_buttons">
      <%= link_to t('.follow'), track_donation_path, :class => 'button' %>
      <%= link_to t('.trackdon'), '#track_donation', :class => 'button' %>
    </div>

  </div>

  <div class="description">
    <%= markdown @project.description %>
    <% if logged_in? %>
      <%= link_to(t('.edit'), edit_project_path(@project)) %> ·
      <%# link_to(t('.delete'), @project, method: :delete, data: {confirm: t('sure')}) %>      
    <% end %>
  </div>

  <section class="donations main_column left">

    <h2>
      <%= t('.donations_number', count: @project.total_donations) %>
      <span><%= t('.donors_number', count: @project.total_people_donated) %></span>
      <%# t('.donations_last_week', count: @project.last_month_donations) %>
    </h2>
    
    <%= render @project.donations %>

  </section>

  <section class="sidebar right">

    <div class="updates">

      <h2><%= t '.updates' %></h2>

      
    </div>

    <div class="related">

      <h2><%= t '.related_projects' %></h2>

      <% if @project.category.projects.present? %>
      <ul>
        <% @project.category.projects.where.not(id: @project.id).first(3).each do |project| %>
          <li><%= link_to project.name, project_path(project) %></li>
        <% end %>  
      </ul>
      <% end %>

    </div>

  </section>


</section>


<div class="content_full">
  <div class="content_column">
    <section id="track_donation">
      
      <% if logged_in? %>
        <h2><%= t('projects.did_you_track') %> </h2>
        <%= render 'donations/form' %>
      <% else %>
        <%= render 'sessions/invitation_to_waitlist' %>
      <% end %>

    </section>
  </div>
</div>

