<% set_meta_tags :description => t('metas.projects.project.description', :name => @project.name) %>
<% set_meta_tags :keywords => "#{@project.name}, donation, promote, issues, reach, track donation" %>

<section id="project" class="project_page wide_content">

  <div class="header">

    <h1><%= title @project.name %></h1>

    <div class="links">

      <div class="url">
        <a href="<%= @project.url %>" target="blank"><%= prettify_url(@project.url) %></a>
      </div>

      <% if @project.twitter.present? %>
        <div class="twitter">
          <a href="http://www.twitter.com/<%= @project.twitter %>" target="blank">@<%= @project.twitter %></a>
        </div>
      <% end %>

    </div>

    <div class="action_buttons" id="action_buttons">
      <%= render 'action_buttons' %>
    </div>

  </div>

  <div class="description">
    <%= markdown @project.description %>

    <% if logged_in? %>
      <%= link_to(t('.edit'), edit_project_path(@project)) %> ·
      <%# link_to(t('.delete'), @project, method: :delete, data: {confirm: t('sure')}) %>      
    <% end %>
  </div>

  <section class="donations main_column left">

    <h2>
      <%= t('.donations_number', count: @project.total_donations) %>
      <span><%= t('.donors_number', count: @project.total_people_donated) %></span>
      <%# t('.donations_last_week', count: @project.last_month_donations) %>
    </h2>

    <% @donations.each do |donation| %>
      <%= render partial: 'donations/donation', locals: {donation: donation} %>
    <% end %>

  </section>

  <section class="sidebar right">

    <div class="updates">

      <h2><%= t '.updates' %></h2>

    </div>

    <div class="related">

      <h2><%= t '.related_projects' %></h2>

      <% if @project.related_projects.any? %>
      <ul>
        <% @project.related_projects.each do |project| %>
          <li><%= link_to project.name, project_path(project) %></li>
        <% end %>
      </ul>
      <% end %>

    </div>

  </section>


</section>


<div class="content-big">
    <section id="track_donation">

      <% if logged_in? %>
        <h3 class="main-color"><%= t('projects.did_you_track') %> </h2>
        <%= render 'donations/form' %>
      <% end %>

    </section>
</div>

