<!doctype html>
<html lang=en-us>
<head>
	<meta charset=utf-8>
	<title>TrackDons</title>
	<meta name=description content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<style type="text/css">
	@import url();
	</style>

</head>
<body class="<%= params[:controller] + ' ' + params[:controller] + '_' + params[:action]  %>">

<div id="sb-site" class="sb-site-container">
	<div id="container" >

		<section id="header">
			<div id="menu_icon" class="fa fa-align-justify sb-toggle-left"><span>Menu</span></div>
			<div id="logo"><a href="/">TrackDons</a></div>
			<section id="nav_site" class="content_column">
				<ul>
					<li><%= link_to t('Projects'), controller: 'projects' %></li>
					<li><%= link_to t('Donations'), controller: 'donations' %></li>
					<li><%= link_to t('Users'), users_path %></li>
					<li><%= link_to t('About'), controller: 'pages', action: 'about' %></li>
				</ul>
			</section>
			<section id="nav_personal">
				<ul>
					<% if logged_in? %>
						<li>Hello <%= link_to current_user.name, current_user %></li>
						<li>Track Donation</li>
						<li><%= link_to "Log out", logout_path, method: "delete" %></li>
					<% else %>
					  	<li><%= link_to "Track your first donation", signup_path %></li>
					  	<li><%= link_to "Login", login_path %></li>
					<% end %>
					
				</ul>
			</section>

      
		</section>

		<section id="main_content">
			<% flash.each do |message_type, message| %>
			  <div class="alert alert-<%= message_type %>"><%= message %></div>
			<% end %>
      
			<%= yield %>

		</section>

	</div> 

	<section id="footer">
		
		<div class="language_selector">
			<%= t('choose_your_language') %>:
			<% available_locales.each do |locale_link| %>
	      <%= locale_link %> ·
	    <% end %>
	    <p class="contrib"><%= link_to t('want_to_contribute_your_own_language'), 'https://github.com/furilo/trackdons/wiki/Contribute-your-language' %></p>	      
		</div>

	</section>

</div>




<div class="sb-slidebar sb-left sb-style-push sb-style-overlay sb-width-custom" data-sb-width="300px">
	<!-- Your left Slidebar content. -->
	<ul>
		<li><%= link_to t('Projects'), controller: 'projects' %></li>
		<li><%= link_to t('Donations'), controller: 'donations' %></li>
		<li><%= link_to t('Users'), users_path %></li>
		<li><%= link_to t('About'), controller: 'pages', action: 'about' %></li>
	</ul>

	<ul class="bottom">
		<% if logged_in? %>
			<li><%= link_to 'Hello ' + current_user.name, current_user %></li>
			<li><%= link_to t('track_donation'), track_donation_link %></li>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
		<% else %>
		  	<li><%= link_to "Track your first donation", signup_path %></li>
		  	<li><%= link_to "Login", login_path %></li>
		<% end %>
	</ul>
</div>

<%= "Locale: #{I18n.locale}" if Rails.env.development? %>
<%# debug(request) if Rails.env.development? %>
<%= debug(params) if Rails.env.development? %>
<%= debug(cookies) if Rails.env.development? %>


</body>
</html>
